<h1>Pinniped</h1>

<p>A web application to encrypt and publish all your secrets</p>
<p>As an end user, you'll simply need to log into the pinniped portal and select the key name and the project you need a secret for.</p>

<p>On the backend, this web application will create, seal, upload, and commit that secret into source control for you.</p>
<p>No more worrying if you encrypted your secret</p>
<p>No more time consuming kubectl commands</p>
<p>Just easy-to-use passwords on demand</p>